{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% block main %}
<div id="contents" class="main_only">
    <div class="container-fluid inner no-padding">
            <h1 class="page-heading">特定商取引法に基づく表記</h1>
            <div id="tradelaw_wrap" class="container-fluid">
                <div class="row">
                    <div id="tradelaw_box" class="col-md-10 col-md-offset-1">
                        <div id="tradelaw__body" class="dl_table">

                            {% if help.law_company is defined %}
                            <dl id="tradelaw__law_company">
                                <dt>販売業者</dt>
                                <dd>{{ help.law_company }}</dd>
                            </dl>
                            {% endif %}

                            {% if help.law_manager is defined %}
                            <dl id="tradelaw__law_manager">
                                <dt>運営責任者</dt>
                                <dd>{{ help.law_manager }}</dd>
                            </dl>
                            {% endif %}

                            {% if help.law_zip01 is defined %}
                            <dl id="tradelaw__zip">
                                <dt>住所</dt>
                                <dd>〒{{ help.law_zip01 }}-{{ help.law_zip02 }}<br />
                                    {{ help.law_pref|default('') }}{{ help.law_addr01 }}{{ help.law_addr02 }}
                                </dd>
                            </dl>
                            {% endif %}

                            {% if help.law_tel01 is defined %}
                            <dl id="tradelaw__tel">
                                <dt>電話番号</dt>
                                <dd>{{ help.law_tel01 }}-{{ help.law_tel02 }}-{{ help.law_tel03 }}</dd>
                            </dl>
                            {% endif %}

                            {% if help.law_fax01 is defined and help.law_fax01 is not empty %}
                            <dl id="tradelaw__fax">
                                <dt>FAX番号</dt>
                                <dd>{{ help.law_fax01 }}-{{ help.law_fax02 }}-{{ help.law_fax03 }}</dd>
                            </dl>
                            {% endif %}

                            {% if help.law_email is defined %}
                            <dl id="tradelaw__email">
                                <dt>メールアドレス</dt>
                                <dd><a href="mailto:{{ help.law_email }}">{{ help.law_email }}</a></dd>
                            </dl>
                            {% endif %}

                            {% if help.law_url is defined %}
                            <dl id="tradelaw__law_url">
                                <dt>URL</dt>
                                <dd><a href="{{ help.law_url }}">{{ help.law_url }}</a></dd>
                            </dl>
                            {% endif %}

                            {% if help.law_term01 is defined %}
                            <dl id="tradelaw__law_term01">
                                <dt>商品以外の必要代金</dt>
                                {# <dd>{{ help.law_term01|nl2br }}</dd> #} 
                                <dd>
								※振込手数料はお客様負担となります。<br>
								<br>
								送料：850円（北海道・沖縄・離党を除く）
								</dd>
                            </dl>
                            {% endif %}

                            {% if help.law_term02 is defined %}
                            <dl id="tradelaw__law_term02">
                                <dt>注文方法</dt>
                                {# <dd>{{ help.law_term02|nl2br }}</dd> #}
								<dd>
								ネット注文
								</dd>
                            </dl>
                            {% endif %}

                            {% if help.law_term03 is defined %}
                            <dl id="tradelaw__law_term03">
                                <dt>支払方法</dt>
                                {# <dd>{{ help.law_term03|nl2br }}</dd> #}
								<dd>
								下記期間内にお支払をお願いします。<br>
・銀行振込：ご注文後、３－５日以内<br>
・ゆうちょ振込：ご注文後、３－５日以内<br>
								</dd>
							</dl>
                            {% endif %}

                            {% if help.law_term04 is defined %}
                            <dl id="tradelaw__law_term04">
                                <dt>支払期限</dt>
                                {# <dd>{{ help.law_term04|nl2br }}</dd> #}
								<dd>
								ご注文確認後、1週間以上ご入金確認が取れない場合、ご注文をキャンセルさせて頂きます。
								</dd>
							</dl>
                            {% endif %}

                            {% if help.law_term05 is defined %}
                            <dl id="tradelaw__law_term05">
                                <dt>引渡し時期</dt>
                                {# <dd>{{ help.law_term05|nl2br }}</dd> #}
								<dd>
								商品によって、異なりますので、詳しい時期につきましては、商品ページをご確認ください。<br><br>
※ご注文・ご入金確認後、６営業日以内に発送<br>
								</dd>
							</dl>
                            {% endif %}

                            {% if help.law_term06 is defined %}
                            <dl id="tradelaw__law_term06">
                                <dt>返品・交換について</dt>
                                {# <dd>{{ help.law_term06|nl2br }}</dd> #}
								<dd>
								ネット通販にクーリングオフ制度は適応されませんのでご注意ください。<br>
								返品の際は、必ず事前にメール・お電話にてお知らせ下さい。事前にお知らせ頂いていない返品は受け付け出来ませんのでご注意下さい<br>
								<br>
								＊不良品について<br>
								未開封・未使用のもので、商品ご到着後５日以内にメール・お電話でご連絡頂いたお客様のみご返品をお受けいたします。<br>
								<br>
								＊解約・退会について<br>
								お客様マイページより、ご自身で即日退会可能でございます
								</dd>
							</dl>
                            {% endif %}
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->

        </div>
    </div>
</div>
{% endblock %}